DATABASE_URL=''
JWT_USER_SECRET = ""
JWT_ADMIN_SECRET = ""

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUD_NAME = 
CLOUD_API_KEY = 
CLOUD_SECRET_KEY = 

RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=YOUR_PRIVATE_KEY
TOKEN_ADDRESS=YOUR_DEPLOYED_TOKEN_ADDRESS